@mixin border-config() {
    border: 1px solid rgb(36, 35, 35);
}

.auth-container {

    width: 100vw;
    display: flex;
    margin-top: 50px;
    justify-content: center;

    .auth-box {
        padding: 50px 50px;
        height: 40vw;
        width: 35vw;
        @include border-config();
        border-radius: 20px;

        #formBasicEmail, #formBasicPassword {
            background: none;
            @include border-config();
        }

        #formTitle {
            text-align: center;
            margin-bottom: 40px;
        }

        #auth-flex {
            margin-top: 50px;
            .auth-btn {
                background-color: rgb(13, 64, 91);
                color: white;
                border: none;
                border-radius: 10px;
                height: 50px;
                font-size: large;
            }
        }

        #oauth-flex {
            margin-top: 50px;

            button {
                background: none;
                font-size: 40px;
                border: none;
                color: white;
            }
        }

    }
}

